.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  width: 30vw;
  margin: 20px;
}

.float-left {
  float: left;
}

.btn {
  background-color: #f48224 !important;
  color: #fff !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 !important;
  border: none;
  transition: all 0.3s ease 0s;
  margin-bottom: 5vh;
}
.btn:hover,
.btn.active:hover {
  color: #ffffff;
}
.btn:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color: whitesmoke;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}
.btn:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: whitesmoke;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .btn {
    margin-bottom: 50px !important;
  }
}
